@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body {
  margin: 0;
  height: 100vh;
  font-family: Montserrat, "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
}
body .container {
  flex: 1;
}
body .container .product-views {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: unset;
}
.navbar .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.navbar .nav-logo {
  margin: -1rem -2rem;
  width: 10rem;
}
.navbar .nav-item {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar .nav-link {
  text-decoration: none;
  color: #00ABB3;
  padding: 1rem 2rem;
  border-bottom: 2px solid transparent;
  transition: 0.3s border;
}
.navbar .nav-link:hover {
  border-bottom-color: #00ABB3;
}
.navbar .nav .dropdown-button {
  transition: 0.3s display;
}
.navbar .nav .dropdown-button:hover .dropdown {
  display: block;
}
.navbar .nav .dropdown {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  background-color: #FFFFFF;
}
.navbar .nav .dropdown .nav-item a {
  display: block;
}

footer {
  background-color: #00ABB3;
  color: #FFFFFF;
  padding: 2rem;
}
footer #foot-img {
  width: 20rem;
  margin: 0 -5rem;
}
footer .footer-contact {
  text-align: center;
}
footer .footer-contact ul {
  margin: 0;
  padding: 0;
}
footer .footer-contact ul li {
  padding: 0.2rem 0;
  list-style: none;
}
footer .footer-contact p {
  font-size: 12px;
  margin-top: 2rem;
}
footer .footer-nav {
  justify-content: center;
  text-align: center;
}
footer .footer-nav .nav {
  margin: 0;
  padding: 0;
}
footer .footer-nav .nav-link {
  color: #FFFFFF;
}
footer .footer-nav .nav-link:hover {
  border-bottom-color: #FFFFFF;
}

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid #EAEAEA;
  background-color: transparent;
  transition: 0.3s border, 0.3s color, 0.3s background-color;
}
.btn-primary {
  color: #00ABB3;
  background-color: #FFFFFF;
  border-color: #00ABB3;
}
.btn-primary:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #00ABB3;
}
.btn-second {
  color: #FFFFFF;
  background-color: #00ABB3;
  border-color: #FFFFFF;
}
.btn-second:hover {
  border-color: #00ABB3;
  color: #00ABB3;
  background-color: #FFFFFF;
}
.btn-danger {
  color: #ff0000;
  background-color: #FFFFFF;
  border-color: #ff0000;
}
.btn-danger:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #ff0000;
}
.btn:hover {
  cursor: pointer;
}

.card {
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card .product-img {
  width: 100%;
}
.card .product-info {
  padding: 1rem;
}
.card .product-info .title {
  margin-bottom: 0.5rem;
  font-weight: 800;
  font-size: 1rem;
}
.card .product-info .rate i {
  font-size: 16px;
  margin-top: 1rem;
}
.card-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.card:hover {
  transition: 0.3s box-shadow;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 18px;
}

.search-bar .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.search-bar .search #search-box {
  width: 20rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  margin-left: 2rem;
  border-bottom: 2px solid #EAEAEA;
  transition: 0.3s border;
}
.search-bar .search #search-box:focus {
  border-bottom-color: #00ABB3;
}
.search-bar .search-btn {
  margin: -1.6rem;
  color: #EAEAEA;
}

#cart-box {
  right: 0;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 18px;
}
#cart-box h3 {
  background-color: #00ABB3;
  padding: 1rem;
  margin: 0;
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
}
#cart-box .cart-container {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#cart-box .cart-container h2 {
  padding: 2rem 12rem;
}
#cart-box .cart-container img {
  width: 8rem;
  height: 5rem;
}
#cart-box .cart-container .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset;
  padding-right: 1rem;
  gap: 2rem;
  transition: 0.3s color, 0.3s background-color;
}
#cart-box .cart-container .item .name {
  font-weight: 800;
}
#cart-box .cart-container .item:hover {
  cursor: pointer;
  background-color: #00ABB3;
  color: #FFFFFF;
}

.seller-options .add-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 1rem;
}
.seller-options .add-product input {
  outline: none;
  padding: 0.5rem;
  outline: none;
  border: none;
  margin-left: 2rem;
  border-bottom: 2px solid #EAEAEA;
  transition: 0.3s border;
}
.seller-options .add-product input:focus {
  border-bottom-color: #00ABB3;
}

.edit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: unset;
}
.edit-box #edit-item {
  gap: 1rem;
  padding: 2rem;
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.edit-box #edit-item input, .edit-box #edit-item select {
  width: 16rem;
  outline: none;
  margin-left: 0 !important;
  padding: 0.5rem;
  outline: none;
  border: none;
  margin-left: 2rem;
  border-bottom: 2px solid #EAEAEA;
  transition: 0.3s border;
}
.edit-box #edit-item input:focus, .edit-box #edit-item select:focus {
  border-bottom-color: #00ABB3;
}/*# sourceMappingURL=main.css.map */