@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body {
  margin: 0;
  height: 100vh;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  padding-right: 20px;
}
.navbar .nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: none;
}
.navbar .nav-brand {
  width: 16rem;
  margin: 0 -40px;
}
.navbar .nav-item {
  list-style-type: none;
}
.navbar .nav-link {
  padding: 20px;
  text-decoration: none;
  color: #3C4048;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: 0.3s border-bottom-color;
}
.navbar .nav-link:hover {
  border-bottom-color: #00ABB3;
}
.navbar .nav .dropdown {
  position: absolute;
  background-color: white;
  display: block;
}

footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00ABB3;
  color: #FFFFFF;
  padding: 2rem;
}
footer .navbar {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: none;
}
footer .navbar .nav {
  margin-left: 40px;
}
footer .navbar .nav-link {
  color: #FFFFFF;
}
footer .navbar .nav-link:hover {
  border-bottom-color: inherit;
}
footer .footer-brand {
  width: 20rem;
}
footer #copyrights {
  font-size: 12px;
}
footer .contact-icon .foot-icon {
  text-decoration: none;
  color: #FFFFFF;
}
footer .contact-icon .foot-icon:hover {
  color: #3C4048;
}
footer .contact-icon .foot-icon i {
  font-size: 2rem;
}

.search #search-box {
  width: 20rem;
  border: none;
  outline: none;
  padding: 10px;
  border-bottom: 2px solid #EAEAEA;
  transition: 0.3s border-bottom-color;
}
.search #search-box:focus {
  border-bottom-color: #00ABB3;
}
.search #search-icon {
  color: #EAEAEA;
  transition: 0.3s color;
  margin-left: -2rem;
  margin-bottom: -0.2rem;
}
.search #search-icon:hover {
  color: #00ABB3;
}

.card {
  width: 16rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
  transition: 0.3s box-shadow;
}
.card-img {
  width: 100%;
}
.card-body p span i {
  position: relative;
  top: 2px;
  font-size: 16px;
  color: #3C4048;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  border-top: 2px solid #FFFFFF;
  padding-top: 10px;
}
.card-footer .price-tag {
  font-weight: 600;
  color: #00ABB3;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 15px;
  cursor: pointer;
}

.btn {
  padding: 8px 10px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 600;
  transition: 0.3s color, 0.3s background-color;
}
.btn:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #3C4048;
}
.btn-primary {
  color: #00ABB3;
  background-color: #00ABB3;
  color: #FFFFFF;
  transition: 0.3s color, 0.3s background-color;
  border: 2px solid #FFFFFF;
}
.btn-primary:hover {
  background-color: #FFFFFF;
  color: #00ABB3;
  border-color: #00ABB3;
}
.btn-secondary {
  color: #00ABB3;
  background-color: #FFFFFF;
  color: #00ABB3;
  transition: 0.3s color, 0.3s background-color;
  border: 2px solid #00ABB3;
}
.btn-secondary:hover {
  background-color: #00ABB3;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.container {
  flex: 1;
}
.container .cover {
  padding: 10%;
  text-align: center;
  background-color: #00ABB3;
  color: #FFFFFF;
}
.container .content {
  padding: 4rem;
}
.container .content .section-title {
  font-weight: 600;
  color: #3C4048;
}
.container .content .card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}/*# sourceMappingURL=main.css.map */