@mixin goFlex($justify:none, $algins:none, $direction:none) {
    display: flex;
    justify-content: $justify;
    align-items: $algins;
    flex-direction: $direction;
}
@mixin marg-padd-0 {
    margin: 0;
    padding: 0;
}
@mixin button-style($color, $bgColor) {
    color: $color;
    background-color: $bgColor;
    border-color: $color;
    &:hover{
        border-color: $bgColor;
        color: $bgColor;
        background-color: $color; 
    }
}