@mixin goFlex($justify: unset, $algins: unset, $direction: unset) {
  display: flex;
  justify-content: $justify;
  align-items: $algins;
  flex-direction: $direction;
}
// MARGIN PADDING GO 0:
@mixin marg-padd-0 {
  margin: 0;
  padding: 0;
}
// BUTTON STYLES:
@mixin button-style($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
  border-color: $color;
  transition: 0.3s color, 0.3s background-color, 0.3s border;
  &:hover {
    cursor: pointer;
    color: $bgColor;
    border-color: $bgColor;
    background-color: $color;
  }
}
// FORM STYLES:
@mixin container(
  $textAlign: center,
  $ml: unset,
  $mr: unset,
  $min-w: none,
  $max-w: none
) {
  text-align: $textAlign;
  margin-left: $ml;
  margin-right: $mr;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 18px 0px;
  width: fit-content;
  min-width: $min-w;
  max-width: $max-w;
  background-color: $second-color-2;
  h2 {
    padding: 1rem;
    margin: 0;
    @include color-and-background($second-color-2, $prime-color);
  }
}

@mixin formContainerStyle {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin formStyle {
  width: 22rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  border: 2px solid $prime-color;
  background-color: $second-color-2;
  gap: 1rem;
  color: $second-color;
  padding: 2rem;
  .edit-legend {
    font-weight: 800;
    color: inherit;
  }
  input,
  select {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 2px solid $prime-color-2;
    transition: 0.3s border;
    &:focus,
    &:hover {
      border-bottom-color: $prime-color !important;
    }
  }
  textarea {
    padding: 0.4rem;
    height: 12rem;
    resize: none;
    outline: none;
    text-overflow: clip;
    border: 2px solid $prime-color-2;
  }
}
