@import "./components/variables";
@import "./mixin/mixin";
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 600;
}
body{
    margin: 0;
    font-family: Montserrat;
    color: $secondary-color;
    height: 100vh;
    @include goFlex;
    flex-direction: column
}


@import "./components/navbar";
@import "./components/button";
@import "./components/search-bar";
@import "./components/footer";
@import "./components/card";

@import "./layouts/home";