// FONTS IMPORTS
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

// VARIABLES & MIXIN
@import "./variables";
@import "./mixin";

// MAIN CODE
body{
    margin: 0;
    height: 100vh;
    font-family: Montserrat, 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    .container{
        flex: 1;
        .product-views{
            padding: 2rem 1rem;
            @include goFlex(center, center, row);
            flex-wrap: wrap;
            gap: 2rem;
        }
    }
}
// IMPORTS
@import "./components/navbar";
@import "./components/foot";
@import "./components/button";
@import "./components/card";
@import "./components/search_bar";