// FONTS
@font-face {
  font-family: Montserrate;
  src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
// MIXIN AND VARIABLES
@import "./variables";
@import "./mixin";
// MAIN CODE
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: Montserrate, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  @include goFlex(unset, unset, column);
  main{
    .cover {
      @include goFlex(center,center, column);
      color: $second-color-2;
      background-color: $prime-color;
      padding: 3rem;
    }
    .container {
      flex: 1;
    }
  }
}

// IMPORTS
@import "./components/navbar";
@import "./components/foot";
@import "./components/button";
@import "./components/card";
@import "./components/search";

// LAYOUTS
@import "./layouts/form";
@import "./layouts/product_details";
@import "./layouts/cart";
@import "./layouts/checkout";

// Code form W3SCHOOL
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
