.btn{
    &-primary{
        padding: 0.5rem 1rem;
        border: 2px solid transparent;
        background-color: transparent;
        @include button-style($prime-color, $second-color-2)
    }
    &-secondary{
        padding: 0.5rem 1rem;
        border: 2px solid transparent;
        @include button-style($second-color-2, $prime-color)
    }
    &-good{
        padding: 0.5rem 1rem;
        border: 2px solid transparent;
        background-color: transparent;
        @include button-style(lightgreen, $second-color-2)
    }
    &-danger{
        padding: 0.5rem 1rem;
        border: 2px solid transparent;
        background-color: transparent;
        @include button-style(red, $second-color-2)
    }

}