#cart-box{
  right: 0;
  position: absolute;
  width: fit-content;
  background-color: $second-color-2;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 18px;
  h3{
      background-color: $prime-color;
      padding: 1rem;
      margin: 0;
      border-bottom: 2px solid $second-color-2;
      color: $second-color-2;
  }
  .cart-container{
      @include goFlex(unset, center, column);
      width: fit-content;
      h2{
        padding: 2rem 12rem;
      }
      img{
          width: 8rem;
          height: 5rem;
      }
      .item{
        @include goFlex(space-between, center);
        padding-right:1rem;
        gap: 2rem;
        .name{
          font-weight: 800;
        }
        transition: 0.3s color ,0.3s background-color;
        &:hover{
          cursor: pointer;
          background-color: $prime-color;
          color: $second-color-2;
        }  
      }   
  }
}