.card{
    width: 16rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    transition:  0.3s box-shadow;
    &-img{
        width: 100%;
    }
    &-body{
        p{
            span{
                i{
                    position: relative;
                    top: 2px;
                    font-size: 16px;
                    color: $second-color;
                }
            }
        }
    }
    &-footer{
        @include goFlex(space-between, center);
        border-top: 2px solid $second-color-2;
        padding-top: 10px;
        .price-tag{
            font-weight: 600;
            color: $prime-color;
        }
    }
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 15px;
        cursor: pointer;
    }
}