.card{
    position: relative;
    top: 0;
    width: 18rem;
    height: 24rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 8px 0px;
    transition: 0.3s box-shadow, 0.3s top;
    @include goFlex(space-between, unset, column);
    &-img{
        width: 100%;
        height: 12rem;
        border-bottom: 2px solid $prime-color-2;

    }
    &-body{
        padding: 0.5rem 1.5rem;
        .tite{
            margin: 0;
        }
        .description{
            overflow: hidden;
            font-size: 14px;
        }
        .rate{
            @include marg-padd-0;
            font-size: 30px;
        }
    }
    &-foot{
        @include goFlex(space-between, center);
        padding: 1rem 1.5rem;
    }
    &:hover{
        top: -1.5rem;
    }
}

.product-display{
    padding: 2rem;
    @include goFlex(center,center);
    flex-wrap: wrap;
    // display: grid;
    gap: 2rem;
}