.card{
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .product-img{
        width: 100%;
    }
    .product-info{
        padding: 1rem;
        .title{
            margin-bottom: 0.5rem;
            font-weight: 800;
            font-size: 1.5rem;
        }
        .rate i{
            font-size: 16px;
            margin: {
                top: 1rem;
            };
        }
    }
    &-footer{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }
    &:hover{
        transition: 0.3s box-shadow;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 18px;
    }
}