footer{
    text-align: center;
    background-color: $prime-color;
    @include goFlex(center,center, column);
    color: $second-color-2;
    padding: 4rem;
    p{
        padding: 0.5rem;
        margin: 0;
        &:last-child{
            font-size: 12px;
        }
    }
    .navbar{
        .nav{
            &-link{
                color: inherit;
                &:hover{
                    border-bottom-color: $second-color-2;
                }
            }
        }
    }
}