footer{
    
    @include goFlex(center, center, $direction:column);
    background-color: $prime-color;
    color: $second-color-2;
    padding: 2rem;
    .navbar{
        margin: 2rem;
        @include goFlex(center);
        .nav{
            margin-left: 40px;
            &-link{
                color: $second-color-2;
                &:hover{
                    border-bottom-color: inherit;
                }
            }
        }
    }
    .footer-brand{
        width: 20rem;
    }
    #copyrights{
        font-size: 12px;
    }
    .contact-icon{
        .foot-icon{
            text-decoration: none;
            color: $second-color-2;
            &:hover{
                color: $second-color;
            }
            i{
                font-size: 2rem;
            }
        }
    }
}