.navbar{
    @include goFlex(space-between);
    .nav{
        @include goFlex(flex-start, center, row);
        &-logo{
            margin: -1rem -2rem;
            width: 10rem;
        }
        &-item{
            @include marg-padd-0;
            list-style: none;
        }
        &-link{
            text-decoration: none;
            color: $prime-color;
            padding: 1rem 2rem;
            border-bottom: 2px solid transparent;
            transition: 0.3s border;
            &:hover{
                border-bottom-color: $prime-color;
            }
        }
        // Dropdown menu stylinga
        .dropdown-button{
            transition: 0.3s display;
            &:hover .dropdown{
                display: block;
            }
        }
        .dropdown{
            display: none;
            position: absolute;
            @include marg-padd-0;
            margin-top: 10px;
            background-color: $second-color-2;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 18px;
            .nav-item{
                a{
                    display: block;
                }
            }
        }
    }
}