@import "./variables";
@import "../mixin/mixin";
.navbar{
    @include goFlex;
    align-items: center;
    justify-content: space-between;
    .nav{
        @include goFlex;
        align-items: center;
        #nav-brand{
            width: 200px;
            margin: -10px -40px;
        }
        &-item{
            list-style: none;
        }
        &-link{
            border: 2px solid transparent;
            text-decoration: none;
            padding: 10px 20px;
            color: inherit;
            transition: 0.3s border;
            &:hover{
                border-bottom-color: $primary-color;
            }
        }
    }
}