.search{
    #search-box{
        width: 20rem;
        border: none;
        outline: none;
        padding: 10px;
        border-bottom: 2px solid $second-color-2;
        transition: 0.3s border-bottom-color;
        &:focus{
            border-bottom-color: $prime-color ;
        }
    }
    #search-icon{
        color: $second-color-2;
        transition: 0.3s color;
        margin-left: -2rem;
        margin-bottom: -0.2rem;
        &:hover{
            color: $prime-color;
        }
    }
}