.search-bar{
    .search{
        @include goFlex(flex-start, center, row);
        #search-box{
            width: 20rem;
            @include input-style;
        }
        &-btn{
            margin: -1.6rem;
            color: $prime-color-2;
        }
    }
}