.cart-container{
    right:0;
    position: absolute;
    @include container($textAlign:center, $min-w:20rem, $max-w:40rem);
    .cart{
        .item{
            position: relative;
            height: 2rem;
            padding: 1rem;
            @include goFlex(space-between, center);
            gap: 1rem;
            img{
                width: 8rem;
            }
            .item-name{
                overflow: hidden;
                text-overflow: clip;
                white-space: nowrap;
            }
            &:hover{
                cursor: pointer;
                @include color-and-background($second-color-2,$prime-color);
            }
        }
    }
    button{
        margin: 1rem;
    }
}