#edit-form-container {
  @include formContainerStyle;
  .edit-form {
    @include formStyle;
  }
}
#add-form-container {
  @include formContainerStyle;
  .add-form {
    @include formStyle;
  }
}
#checkout-form-container {
    @include formContainerStyle;
    .checkout-form {
      @include formStyle;
      .input-wrong{
        transition: 0.3s border;
        border: 2px solid rgba(255, 0, 0, 0.534);
      }
    }
  }



::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $prime-color-2;
}
::-webkit-scrollbar-thumb {
  background: $prime-color;
}
::-webkit-scrollbar-thumb:hover {
  background: $second-color;
}
