.container{
    flex: 1;
    .cover{
        padding: 10%;
        text-align: center;
        background-color: $prime-color;
        color: $second-color-2;
    }
    .content{
        .section-title{
            font-weight: 600;
            color: $second-color
        }
        padding: 4rem;
        .card-container{
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}