@import "../components/variables";
@import "../mixin/mixin";
#cover{
    background-color: $primary-color;
    @include goFlex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    #cover-text{
        color: white;
        margin: 0;
        padding: 20px;
    }
}
#main-container{
    height: fit-content;
    flex: 1;
}